div:first-child {
	background-color: red;
	width: 211.6mm;

}
div:nth-child(2) {
	background-color: blue;
	width: 21.16cm;
}
div:nth-child(3) {
	background-color: green;
	width: 3.14in;
}
div:nth-child(4) {
	background-color: yellow;
	width: 24pc;
}
div:nth-child(5) {
	background-color: silver;
	width: 284pt
}
div:nth-child(6) {
	background-color: lightblue;
	width: 512px;
}

div:nth-child(7){
	background-color: purple;
}

div:nth-child(8){
	background-color: pink;
}

div:nth-child(9){
	background-color: white	;
}

div:nth-child(10){
	background-color: black;
	color: white;
}

div:nth-child(11){
	background-color: orange;
}
div:last-child{
	background-color: lime;
}


/*piros
kek
zold
sarga
ezust
vilagoskek
1, 211.6mm szeles
2, 21.16cm
3, 3.14in
4, 2.4pc
5, 28.4pt
6, 512px
HF: csinalni meg 6 divet. 1ex 2m 3rem 4vw 5vh 6vmin es letrehozni hatterszineket nekik is*/