div:first-child {
	background-color: red;
	width: 211.6mm;

}
div:nth-child(2) {
	background-color: blue;
	width: 21.16cm;
}
div:nth-child(3) {
	background-color: green;
	width: 3.14in;
}
div:nth-child(4) {
	background-color: yellow;
	width: 24pc;
}
div:nth-child(5) {
	background-color: silver;
	width: 284pt
}
div:last-child {
	background-color: lightblue;
	width: 512px;
}
div {
	padding: 10px;
	margin: 10px;
	height: 30px;
}


/*piros
kek
zold
sarga
ezust
vilagoskek
1, 211.6mm szeles
2, 21.16cm
3, 3.14in
4, 2.4pc
5, 28.4pt
6, 512px*/